<%- include('navbar.ejs')%>
<div class="container-fluid" data-aos="fade" data-aos-delay="500">
    <div class="row">
      <%for (var i=0;i<home_image.length;i++) { %>
      <div class="col-lg-4">
        <div class="image-wrap-2">
          <div class="image-info">
            <h2 class="mb-3"><%=home_image[i].home_image_title%></h2>
            <a href="/gallery" class="btn btn-outline-white py-2 px-4">More Photos</a>
          </div>
          <img src="/images/<%=home_image[i].home_images%>" alt="Image" class="img-fluid">
        </div>
      </div>
      <% } %>
    </div>
  </div>
  <%- include('footer.ejs')%>